/* <!--:::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::Ing. Yelitza Arreaza:::::::::::::::
::::::::::Diplomado en Programación Web::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::-->*/

/*////////VARIABLES PARA LOS COLORES///////////*/
    @azul:#0094B9;
    @blanco:#FFFFFF;
    @gris:#E3E3E3;
    @negro:#000000;
    @gris-o: #666666;
    @azul-claro: #30ACD6;

.transicion (@transi:all 0.2s ease-in){
    -ms-transition:@transi;
    -moz-transition:@transi;
    -o-transition:@transi;
    -webkit-transition:@transi;
    transition:@transi;}

.redondeado (@medida:1em 1em 1em 1em;)/*Esquinas redondeadas*/  
      {
          -webkit-border-radius:  @medida;
         -moz-border-radius:  @medida;
         -ms-border-radius:  @medida;
         -o-border-radius:  @medida;
          border-radius:  @medida;
      }

/*:::::::::::::::::::INICIO DEL MENÚ SUPERIOR:::::::::::::::::::::::::*/
#nav {
  margin: 0 auto;
  padding-top: 0.5em;
}

#nav li { 
  display: inline-block;
  color: @negro; 
 /* padding: 2px 12px 2px 12px;*/ /*arriba, derecha, abajo, izquierda*/
 padding: 0.1em;
  .redondeado;
}

#nav li a {
     padding: 2px 7px 7px 7px;
    color: @blanco;
     text-decoration: none;
     font-size:1em; /*Tamaño de las letras del menú*/
     font-weight:bold;
     display: block;/* conserva el ancho del menú*/  
}

 #nav li a:hover{
    padding: 2px 7px 2px 7px;
   color: @negro;
    .transicion;
  }

@media only screen and (max-width: 767px)  {
 
  #nav li {
    margin: 0; /*evita que se genera gran espacio entre cada opción del menú*/
    display: inline-block;
    width: 70%; /*Ancho del menú cuando es un dispositivo pequeño*/
    background: none;
    .redondeado;
  }

  #nav li a, #nav li a:hover {
    padding: 2px 7px 2px 7px; /*arriba, derecha, abajo, izquierda*/
    color: @negro;
    text-align: center;
    background: @blanco;
    .redondeado;
  }
    #nav li a:hover {
    color: @blanco;
    background: @negro;
  }
 
}
/*:::::::::::::::::::FIN DEL MENÚ SUPERIOR:::::::::::::::::::::::::*/



.social-icons-row > a {
    margin-left: 25px;
}


/*:::::::::::::::::::::INICIO MENÚ INFERIOR:::::::::::::::::::::::::*/
  
   #contenedor-footer {
    width: 80%;
    margin: 0 auto;
   }

   section#menu-inferior{
    display: inline-block;
    margin-top: 2em;
     }

   #menu-inferior ul {
      list-style-type: none;
   }

   #menu-inferior li {
    text-align: center;
      margin-bottom: 1em;
   }

   #menu-inferior li a{
     text-decoration: none; /*:::::::::::::Elimina línea del hipervínculo::::::::::::::::*/
     color: @negro;
     font-weight:bold;
   }

    #menu-inferior li a:hover{
    color: @blanco;
  }
  /*:::::::::::::::::::::FIN MENÚ INFERIOR:::::::::::::::::::::::::*/

/*:::::::::::::::::::::::::INICIO MENÚ TRANSPARENTE::::::::::::::::::::::::::*/

.thick {
    display: inline-block;
    margin-left: 60px;
    text-align: left;
}



 #sticky_navigation {
                      z-index: 1048;
                    }
                    #logofffocus {
                        width: 35px; 
                        height: 35px; 
                        margin-left: 20px;
                        float: left; 

                        visibility: visible;
                    }
                    
                    #contactsocial {
                        display: inline-block;
                         color: #FFFFFF;
                        float: right;
                      
                        margin-top: -50px;
                        visibility: hidden;
                    }
                    
                  /*  #contactsocial img {
                        width: 32px;
                        height: 32px;
                        vertical-align: top;
                        margin-top: 0px;
                        top: 0px;
                        padding: 1.5px;
                    }*/
/*:::::::::::::::::::::::::FIN MENÚ TRANSPARENTE::::::::::::::::::::::::::*/
