
.SocialFooter {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 0 10px;
  line-height: 70px;
  font-family: Entypo;
  font-size: 30px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 50%;
  background: #028DB0;
  overflow: hidden;
  transition: color #009DC4;
}

.SocialFooter:hover {
  color: #0094B9;
  border-radius: 50%;
  background: #000000;
  cursor: pointer;
}

.SocialCabecera {
  display: inline-block;
  width: 10%;
  line-height: 70px;
  font-family: Entypo;
  font-size: 20px;
  text-align: center;
  color: #028DB0;
  border-radius: 50%;
  overflow: hidden;
  transition: color #009DC4;
} 

.SocialCabecera:hover{
  color: #000000;
}

.logos-sociales1{
    display: inline-block;
    font-family: Entypo;
    width: 50%; 
    overflow: hidden; 
    float: right;
    margin-top: -50px;
  }

  @media (max-width: 768px) {

  .logos-sociales1{width: 110px; margin-top: -70px; margin-right: -10px;}


  }

